/* Gama Hand Handwriting Font */
@font-face {
  font-family: 'Gama Hend';
  src: url('/fonts/Gama Hand.otf') format('opentype'),
       url('/fonts/Gama Hand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
